.trigger:hover {
    color: #1890ff !important;
}

.width-100 {
    width: 100px !important;
}

.width-150 {
    width: 150px !important;
}

.width-200 {
    width: 200px !important;
}

.width-300 {
    width: 300px !important;
}

.list-container {
    height: 700px !important;
}

.dis-fl {
    display: flex !important;
    -webkit-display: flex !important;
    -moz-display: flex !important;
}

.fd-r {
    flex-direction: row !important;
}

.fd-c {
    flex-direction: column !important;
}

.jc-ct {
    justify-content: center !important;
}

.jc-sb {
    justify-content: space-between !important;
}

.jc-fe {
    justify-content: flex-end !important;
}

.ai-start {
    align-items: flex-start !important;
}

.ai-ct {
    align-items: center !important;
}

.ai-end {
    align-items: flex-end !important;
}

.fl-0 {
    flex: 0 0 auto !important;
}

.fl-1 {
    flex: 1 1 auto !important;
}

.fl-w {
    flex-wrap: wrap !important;
}

.ovf-a {
    overflow: auto !important;
}

.ovf-h {
    overflow: hidden !important;
}

.ps-fx {
    position: fixed !important;
}

.tx-ct {
    text-align: center !important;
}

.ft-18 {
    font-size: 18px !important;
}

.ft-24 {
    font-size: 24px !important;
}

.lh-64 {
    line-height: 64px !important;
}

.clr-333333 {
    color: #333333 !important;
}

.clr-999999 {
    color: #999999 !important;
}

.clr-666666 {
    color: #666666 !important;
}

.bg-ffffff {
    background: #ffffff !important;
}

.bg-4d4d4d {
    background: #4d4d4d !important;
}

.bg-f0f0f0 {
    background: #f0f0f0 !important;
}

.bg-fafafa {
    background: #fafafa !important;
}

.bg-fff6f0 {
    background: #fff6f0 !important;
}

.lf-0 {
    left: 0 !important;
}

.bdtp-F0F0F0-001 {
    border-top: 1px solid #f0f0f0 !important;
}

.h-100 {
    height: 100vh !important;
}

.h-89d5 {
    height: 89.5vh !important;
}

.h-91 {
    height: 91vh !important;
}

.h-86 {
    height: 86vh !important;
}

.hd-32 {
    height: 32px !important;
}

.hd-62 {
    height: 62px !important;
}

.hd-64 {
    height: 64px !important;
}

/*定义滚动条轨道 内阴影+圆角*/
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #fff !important;
    -webkit-box-shadow: inset 0 0 6px #fff !important;
    background-color: #fff !important;
}

/*定义滑块 内阴影+圆角*/
.scroll::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #fff !important;
    -webkit-box-shadow: inset 0 0 6px #fff !important;
    background-color: #fff !important;
}

/*定义滚动条轨道 内阴影+圆角*/
.ant-table-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f0f2f5 !important;
    -webkit-box-shadow: inset 0 0 6px #f0f2f5 !important;
    background-color: #f0f2f5 !important;
    border-radius: 4px !important;
}

/*定义滑块 内阴影+圆角*/
.ant-table-body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #ccc !important;
    -webkit-box-shadow: inset 0 0 6px #ccc !important;
    background-color: #ccc !important;
    border-radius: 4px !important;
}

.layout-sider {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
}

.pro-sider {
    flex: 1 1 0% !important;
    overflow: hidden auto !important;
}

.circular {
    width: 6px !important;
    height: 6px !important;
    border-radius: 50% !important;
    display: inline-block !important;
}

.circular_text {
    display: inline-block !important;
    margin-left: 10px !important;
}

.ant-input-affix-wrapper-lg {
    border-radius: 5px !important;
}

.ant-btn-lg {
    border-radius: 5px !important;
}

.flex-box {
    display: flex !important;
    margin-left: -15px !important;
}

.right-line {
    position: relative !important;
}

.right-line::before {
    display: block;
    position: absolute !important;
    left: 0 !important;
    top: 10px !important;
    width: 0 !important;
    height: 12px !important;
    margin: 0 !important;
    border-right: 1px solid #ccc !important;
}

.ant-list-item {
    padding: 0 !important;
}

.ant-list-item-meta-title {
    line-height: 2.3 !important;
}

.width-220 {
    width: 220px !important;
}

.width-240 {
    width: 240px !important;
}

.height-40 {
    height: 40px !important;
}

.height-50 {
    height: 50px !important;
}

.height-60 {
    height: 60px !important;
}

.product_width {
    width: 230px !important;
}

.ant-menu {
    /*margin-left: 1px !important;*/
    background-color: transparent;
}

.ant-statistic-content-value {
    font-size: 20px;
    color: #e56033 !important;
}

/*.ant-menu-inline-collapsed {*/
/*    width: 50px !important;*/
/*}*/

.ant-table-thead th:hover {
    background-color: #f0f0f0 !important;
}

.txt-single {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

/* 拖拽改变列宽的样式 */
.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    padding: 0 3px 3px 0;
}

.react-resizable-handle-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
    transform: rotate(90deg);
}

.react-resizable-handle-se {
    bottom: 0;
    right: 0;
    cursor: col-resize;
}

.react-resizable-handle-nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
    transform: rotate(180deg);
}

.react-resizable-handle-ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
    transform: rotate(270deg);
}

.react-resizable-handle-w,
.react-resizable-handle-e {
    top: 50%;
    margin-top: -10px;
    cursor: ew-resize;
}

.react-resizable-handle-w {
    left: 0;
    transform: rotate(135deg);
}

.react-resizable-handle-e {
    right: 0;
    transform: rotate(315deg);
}

.react-resizable-handle-n,
.react-resizable-handle-s {
    left: 50%;
    margin-left: -10px;
    cursor: ns-resize;
}

.react-resizable-handle-n {
    top: 0;
    transform: rotate(225deg);
}

.react-resizable-handle-s {
    bottom: 0;
    transform: rotate(45deg);
}

.rowClass {
    background-color: rgb(250, 250, 250);
}

.InspectClss {
    background-color: rgba(229, 96, 51, 0.2);
}

.mg-01 {
    margin: 01px !important;
}

.mg-16 {
    margin: 16px !important;
}

.mgx-05 {
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.mgx-16 {
    margin-right: 16px !important;
    margin-left: 16px !important;
}

.mgx-24 {
    margin-right: 24px !important;
    margin-left: 24px !important;
}

.mgy-16 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.mgb-16 {
    margin-bottom: 16px !important;
}

.mgb-8 {
    margin-bottom: 8px !important;
}

.mgr-01 {
    margin-right: 1px !important;
}

.mgr-4 {
    margin-right: 4px !important;
}

.mgr-16 {
    margin-right: 16px !important;
}

.mgl-2 {
    margin-left: 2px !important;
}

.pd-24 {
    padding: 24px !important;
}

.pd-16 {
    padding: 16px !important;
}

.pdx-10 {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.pdx-16 {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.pdy-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.pdy-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.pdx-24 {
    padding-right: 24px !important;
    padding-left: 24px !important;
}

.pdb-16 {
    padding-bottom: 16px !important;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

#root, body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*.ant-modal:not(.ant-modal-confirm) .ant-modal-content {
    padding: 0;
    !*border-radius: 4px;*!
}

.ant-modal-header {
    padding: 10px 20px 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}*/

/*.ant-modal .ant-modal-title {
    font-weight: 500;
}*/

/*.ant-modal-footer {
    padding: 12px 20px 10px;
    margin-top: 0 !important;
    border-top: 1px solid #e8e8e8;
}*/

/*.ant-modal .ant-modal-close {
    top: 12px;
}*/

/* 侧边栏默认的颜色 */
.ant-layout .ant-layout-sider-light {
    background: #f2f5f7;
}

.ant-layout-header {
    -webkit-app-region: drag;
}

.ant-breadcrumb {
    -webkit-app-region: no-drag;
}

.toolbox {
    -webkit-app-region: no-drag;
}

.layout-operation-bar {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 12px;
}

.integration-layout-content {
    padding-left: 32px;
    padding-right: 32px;
    flex: 1 1;
}

.layout-header-row {
    background-color: #fff;
    padding: 16px 32px 0;
}

