.trigger:hover {
    color: #1890ff !important;
}

.list-container {
    height: 700px !important;
}

.dis-fl {
    display: flex !important;
    -webkit-display: flex !important;
    -moz-display: flex !important;
}

.fd-r {
    flex-direction: row !important;
}

.fd-c {
    flex-direction: column !important;
}

.jc-ct {
    justify-content: center !important;
}

.jc-sb {
    justify-content: space-between !important;
}

.jc-fe {
    justify-content: flex-end !important;
}

.ai-start {
    align-items: flex-start !important;
}

.ai-ct {
    align-items: center !important;
}

.ai-end {
    align-items: flex-end !important;
}

.fl-0 {
    flex: 0 0 auto !important;
}

.fl-1 {
    flex: 1 1 auto !important;
}

.fl-w {
    flex-wrap: wrap !important;
}

.ovf-a {
    overflow: auto !important;
}

.ovf-h {
    overflow: hidden !important;
}

.ps-fx {
    position: fixed !important;
}

.tx-ct {
    text-align: center !important;
}

.ft-18 {
    font-size: 18px !important;
}

.ft-24 {
    font-size: 24px !important;
}

.lh-64 {
    line-height: 64px !important;
}

.lf-0 {
    left: 0 !important;
}

.bdtp-F0F0F0-001 {
    border-top: 1px solid #f0f0f0 !important;
}

.h-100 {
    height: 100vh !important;
}

.h-89d5 {
    height: 89.5vh !important;
}

.h-91 {
    height: 91vh !important;
}

.h-86 {
    height: 86vh !important;
}

.hd-32 {
    height: 32px !important;
}

.hd-62 {
    height: 62px !important;
}

.hd-64 {
    height: 64px !important;
}

.layout-sider {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
}

.pro-sider {
    flex: 1 1 0% !important;
    overflow: hidden auto !important;
}

.circular {
    width: 6px !important;
    height: 6px !important;
    border-radius: 50% !important;
    display: inline-block !important;
}

.circular_text {
    display: inline-block !important;
    margin-left: 10px !important;
}

.ant-input-affix-wrapper-lg {
    border-radius: 5px !important;
}

.ant-btn-lg {
    border-radius: 5px !important;
}

.flex-box {
    display: flex !important;
    margin-left: -15px !important;
}

.right-line {
    position: relative !important;
}

.right-line::before {
    display: block;
    position: absolute !important;
    left: 0 !important;
    top: 10px !important;
    width: 0 !important;
    height: 12px !important;
    margin: 0 !important;
    border-right: 1px solid #ccc !important;
}

.ant-list-item {
    padding: 0 !important;
}

.ant-list-item-meta-title {
    line-height: 2.3 !important;
}

.ant-menu {
    /*margin-left: 1px !important;*/
    background-color: transparent;
}

.ant-statistic-content-value {
    font-size: 20px;
    color: #e56033 !important;
}

/*.ant-menu-inline-collapsed {*/
/*    width: 50px !important;*/
/*}*/

.ant-table-thead th:hover {
    background-color: #f0f0f0 !important;
}

.txt-single {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

/* 拖拽改变列宽的样式 */
.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    padding: 0 3px 3px 0;
}

.react-resizable-handle-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
    transform: rotate(90deg);
}

.react-resizable-handle-se {
    bottom: 0;
    right: 0;
    cursor: col-resize;
}

.react-resizable-handle-nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
    transform: rotate(180deg);
}

.react-resizable-handle-ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
    transform: rotate(270deg);
}

.react-resizable-handle-w,
.react-resizable-handle-e {
    top: 50%;
    margin-top: -10px;
    cursor: ew-resize;
}

.react-resizable-handle-w {
    left: 0;
    transform: rotate(135deg);
}

.react-resizable-handle-e {
    right: 0;
    transform: rotate(315deg);
}

.react-resizable-handle-n,
.react-resizable-handle-s {
    left: 50%;
    margin-left: -10px;
    cursor: ns-resize;
}

.react-resizable-handle-n {
    top: 0;
    transform: rotate(225deg);
}

.react-resizable-handle-s {
    bottom: 0;
    transform: rotate(45deg);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

#root, body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 调整整个系统Modal的样式 */
.ant-modal:not(.ant-modal-confirm) .ant-modal-content {
    padding: 0;
}

.ant-modal:not(.ant-modal-confirm) .ant-modal-header {
    padding: 20px 24px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    border-bottom: 1px solid #e8e8e8;
}

.ant-modal:not(.ant-modal-confirm) .ant-modal-body {
    padding: 20px 24px;
}

.ant-modal:not(.ant-modal-confirm) .ant-modal-footer {
    padding: 20px 24px;
    margin-top: 0 !important;
    border-top: 1px solid #e8e8e8;
}

.layout-operation-bar {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 12px;
}

.integration-layout-content {
    padding-left: 32px;
    padding-right: 32px;
    flex: 1 1;
}

.layout-header-row {
    background-color: #fff;
    padding: 16px 32px 0;
}

/* 修改卡片 */
.ant-card-bordered {
    border-color: #e9edf0;
}

.ant-card {
    transition: box-shadow 0.3s;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.06);
}

.ant-card:hover {
    box-shadow: 0 5px 7px 3px rgba(0, 0, 0, 0.06);
}

/* 修改滚动条 */
* {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: transparent;
}

:hover::-webkit-scrollbar-thumb{
    background-color: #999;
}

